config/*
!config/nvim/init.vim
!config/nvim/coc-settings.json
!config/ranger/rc.conf

# AwesomeWM
!config/awesome/
config/awesome/*
!config/awesome/awesome-AnimationFramework
!config/awesome/rc.lua
!config/awesome/keys.lua
!config/awesome/helper.lua
!config/awesome/widgets.lua
!config/awesome/titlebar.lua
!config/awesome/notifications.lua
# AwesomeWM bar dir
!config/awesome/bar/
config/awesome/bar/*
!config/awesome/bar/new.lua
!config/awesome/bar/fade.lua
# AwesomeWM widgets
!config/awesome/widgets
# AwesomeWM theme
!config/awesome/themes/
config/awesome/themes/new/*
!config/awesome/themes/new/theme.lua
