config/*
!config/ripgrep.conf

# neovim
!config/nvim
config/nvim/*
!config/nvim/init.lua
!config/nvim/commands.vim
!config/nvim/lua
!config/nvim/coc-settings.json

# Ranger
!config/ranger
config/ranger/*
!config/ranger/rc.conf
!config/ranger/scope.sh
